option_settings:

  - namespace:  aws:elasticbeanstalk:application
    option_name:  Application Healthcheck URL
    value:  /health

  - namespace: "aws:autoscaling:launchconfiguration"
    option_name: "IamInstanceProfile"
    value: "aws-elasticbeanstalk-ec2-role"

  - namespace: "aws:autoscaling:launchconfiguration"
    option_name: "EC2KeyName"
    value: "first_ec2_keys"
#    value: "id_rsa"

  - namespace: "aws:autoscaling:launchconfiguration"
    option_name: "InstanceType"
    value: "t2.micro"

  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: "JDBC_CONNECTION_STRING"
    value: "jdbc:mysql://localhost:3306/testdb?autoReconnect=true"
