<!DOCTYPE html>
<html>
<head>
    <title>DataSource Control</title>
    <!--<link href="css/angular-bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="dataSourceMod" ng-init="appname = 'dataSource';">

<strong>App Name:</strong> {{appname}}<br/>

<div class="panel-body" ng-controller="DataSourceController">
    <h3>DataSourceController</h3>
    <strong>date:</strong> <span ng-bind="date"></span><br/>
    <label>Set the date: <input type="text" ng-model="date"/></label><br/>
    <label>ThreadCount: <input type="text" ng-model="threadCount"/></label><br/>
    <button ng-click='startThreads()'>ButtonStart {{threadCount}} threads</button>
</div>

<!--<script type="text/javascript" src="./js/angular-bootstsrap.js"></script>-->
<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.js"></script>
<!--<script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>-->

<script type="text/javascript" src="./js/app.js"></script>
<script type="text/javascript" src="./js/services/testservice.js"></script>
<script type="text/javascript" src="./js/controller/datasource.js"></script>
</body>
</html>
